# Banco de dados
db.sqlite3

# Variáveis de ambiente (segredos)
.env

# Arquivos Python compilados
__pycache__/
*.pyc
*.pyo

# Arquivos de mídia e estáticos
media/
staticfiles/

# Editores de código
.idea/
.vscode/
*.swp

# Logs
*.logdb.sqlite3
