{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>ReabiTech</title>

<link rel="stylesheet" href="{% static 'css/style.css' %}">

<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body>

<div class="bg-animation"></div>

<aside class="sidebar">

<div class="logo">
ReabiTech
</div>

<div class="profile-mini">

<div class="profile-avatar">
A
</div>

<div>
<h3>Administrador</h3>
<p>Sistema Online</p>
</div>

</div>

<nav class="menu">

<a href="/dashboard/" class="active">
<i class="fa-solid fa-chart-line"></i>
<span>Dashboard</span>
</a>

<a href="/atletas/">
<i class="fa-solid fa-users"></i>
<span>Atletas</span>
</a>

<a href="#">
<i class="fa-solid fa-heart-pulse"></i>
<span>Fisioterapia</span>
</a>

<a href="#">
<i class="fa-solid fa-brain"></i>
<span>Psicologia</span>
</a>

<a href="#">
<i class="fa-solid fa-chart-column"></i>
<span>Analytics</span>
</a>

<a href="#">
<i class="fa-solid fa-calendar"></i>
<span>Agenda</span>
</a>

<a href="#">
<i class="fa-solid fa-gear"></i>
<span>Configurações</span>
</a>

</nav>

</aside>

<main class="main-content">

{% block content %}
{% endblock %}

</main>

</body>
</html>