{% extends 'base.html' %}

{% block content %}

<div class="hero">

<div>
<h1>Painel Estratégico</h1>
<p>
Monitoramento inteligente de recuperação esportiva
</p>
</div>

<a href="/atletas/novo/" class="btn">
Novo atleta
</a>

</div>

<div class="cards">

<div class="card">
<h2>128</h2>
<p>Atletas monitorados</p>
</div>

<div class="card">
<h2>94%</h2>
<p>Taxa de recuperação</p>
</div>

<div class="card">
<h2>36</h2>
<p>Planos ativos</p>
</div>

<div class="card">
<h2>12</h2>
<p>Alertas clínicos</p>
</div>

</div>

<div class="chart-box glass">

<h2 style="margin-bottom:25px;">
Performance clínica
</h2>

<canvas id="chart"></canvas>

</div>

<div class="grid-2">

<div class="timeline glass">

<h2 style="margin-bottom:25px;">
Timeline clínica
</h2>

<div class="timeline-item">
<h3>Lucas Andrade</h3>
<p>Evolução positiva no joelho direito</p>
<span class="status ok">
Recuperando
</span>
</div>

<div class="timeline-item">
<h3>Bruno Silva</h3>
<p>Necessário ajuste fisioterapêutico</p>
<span class="status alert">
Atenção
</span>
</div>

<div class="timeline-item">
<h3>Caio Mendes</h3>
<p>Retorno gradual aos treinos</p>
<span class="status ok">
Liberado
</span>
</div>

</div>

<div class="timeline glass">

<h2 style="margin-bottom:25px;">
IA Analítica
</h2>

<div class="timeline-item">
<h3>Fadiga muscular</h3>
<p>
3 atletas apresentam risco moderado.
</p>
</div>

<div class="timeline-item">
<h3>Performance</h3>
<p>
Aumento médio de 14%.
</p>
</div>

<div class="timeline-item">
<h3>Recuperação</h3>
<p>
Recuperações aceleradas detectadas.
</p>
</div>

</div>

</div>

<script>

const ctx = document.getElementById('chart');

new Chart(ctx, {

type:'line',

data:{
labels:['Jan','Fev','Mar','Abr','Mai','Jun'],
datasets:[{
label:'Recuperação',
data:[40,55,63,70,85,96],
tension:.4
}]
},

options:{
responsive:true
}

});

</script>

{% endblock %}