{% extends 'base.html' %}

{% block content %}

<div class="hero">

<div>
<h1>Atletas</h1>
<p>
Monitoramento completo dos atletas
</p>
</div>

<a href="/atletas/novo/" class="btn">
Novo atleta
</a>

</div>

<div class="card-grid">

{% for atleta in atletas %}

<div class="card-atleta">

<div class="avatar">

{% if atleta.foto %}
<img src="{{ atleta.foto.url }}">
{% else %}
{{ atleta.nome|first }}
{% endif %}

</div>

<h2>{{ atleta.nome }}</h2>

<div class="info">

<p>
<strong>Esporte:</strong>
{{ atleta.esporte }}
</p>

<p>
<strong>Lesão:</strong>
{{ atleta.lesao }}
</p>

<p>
<strong>Status:</strong>
{{ atleta.status }}
</p>

</div>

<a href="/atletas/{{ atleta.id }}/"
class="btn">
Ver detalhes
</a>

</div>

{% endfor %}

</div>

{% endblock %}